Source: sflvault-client
Section: utils
Priority: optional
Maintainer: Alexandre Bourget <alexandre.bourget@savoirfairelinux.com>
Build-Depends: debhelper (>= 5), python-all-dev, python-setuptools (>= 0.6b3-1~)
Build-Depends-Indep: python-support (>= 0.6.4)
Standards-Version: 0.7.8.2
XS-Python-Version: all
Homepage: http://www.sflvault.org/
Vcs-Git: http://git.sflvault.org/sflvault.git
Vcs-Browser: https://projects.savoirfairelinux.com/repositories/show/sflvault

Package: sflvault-client
Architecture: all
Depends: ${python:Depends}, python-crypto, python-pexpect(>=2.3), python-urwid(>=0.9.8.1),
 python-decorator, sflvault-common(>=0.7.8.1~ppa1)
Recommends: python-keyring
Suggests: python-keyring-gnome, python-keyring-kwallet
XB-Python-Version: ${python:Versions}
Description: SFLvault is a Networked credentials store and authentication manager.
 This is the client package.
