#!/usr/bin/make -f
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
package=sflvault-client

clean:
	dh_testdir
	dh_testroot
	rm -f build-*
	python setup.py clean
	rm -rf build
	find . -name '*\.py[co]' -delete
	find . -name '\._*' -delete
	find . -name '\.DS_Store' -delete
	dh_clean

build-stamp: 
	dh_testdir
	python setup.py build
	touch $@

build: build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	python setup.py install \
		--no-compile \
		--prefix=/usr \
		--single-version-externally-managed \
		--root $(CURDIR)/debian/$(package)

binary-indep: build install
	dh_testdir
	dh_testroot
	#dh_installchangelogs CHANGELOG
	dh_installdocs
	dh_installexamples
	dh_compress -X.py
	dh_fixperms
	dh_pysupport
	find debian/$(package) -type f -perm 755 | xargs -r chmod 644
	chmod 755 debian/${package}/usr/bin/sflvault
	rm debian/${package}/usr/share/pyshared/sflvault/__init__.py
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
