[Desktop Entry]
Name=Sflvault
Comment=Use the command line
TryExec=sflvault-qt
Exec=sflvault-qt
Icon=sflvault
Type=Application
Categories=Utility;
StartupNotify=true
