[Desktop Entry]
Name=Sflvault
Comment=Use the sflvault password manager
Exec=sflvault-client-qt
Icon=sflvault
Type=Application
Categories=Utility
Terminal=false
