[Desktop Entry]
Name=Sflvault
Comment=Use the sflvault password manager
Exec=/usr/bin/sflvault-client-qt4
Icon=sflvault
Type=Application
Categories=Utility
Terminal=false
