Source: sflvault-client-qt
Section: utils
Priority: optional
Maintainer: Thibault Cohen <thibault.cohen@savoirfairelinux.com>
Build-Depends: debhelper (>= 5), python-setuptools (>= 0.6b3-1~)
Build-Depends-Indep: python-support (>= 0.6.4)
Standards-Version: 0.7.5dev
XS-Python-Version: all
Homepage: http://www.sflvault.org/
Vcs-Git: http://git.sflvault.org/sflvault.git
Vcs-Browser: https://projects.savoirfairelinux.com/repositories/show/sflvault

Package: sflvault-client-qt
Architecture: all
Depends: sflvault-common, sflvault-client, python-qt4
XB-Python-Version: ${python:Versions}
Description: SFLvault is a Networked credentials store and authentication manager.
 This is the Qt4 Client package.
