Source: sflvault-common
Section: utils
Priority: optional
Maintainer: Alexandre Bourget <alexandre.bourget@savoirfairelinux.com>
Build-Depends: debhelper (>= 5), python-all-dev, python-setuptools (>= 0.6b3-1~)
Build-Depends-Indep: python-support (>= 0.6.4)
Standards-Version: 0.7.8.1
XS-Python-Version: all
Homepage: http://www.sflvault.org/
Vcs-Git: http://git.sflvault.org/sflvault.git
Vcs-Browser: https://projects.savoirfairelinux.com/repositories/show/sflvault

Package: sflvault-common
Architecture: all
Depends: ${python:Depends}, python-crypto, python-distribute
XB-Python-Version: ${python:Versions}
Description: SFLvault is a Networked credentials store and authentication manager.
 This is the common package, used by both the client and the server (and other
 clients)
